{
    "semi": true,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "crlf",
    "parser": "typescript"
}